{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Black Cat - Open-Source Phishing Toolkit">
    <meta name="author" content="Jordan Wright (http://github.com/jordan-wright) | Reauthor: Dylan Evans (fin3ss3g0d)">
    <link rel="shortcut icon" href="/images/blackcat.svg" type="image/svg+xml">
    <link rel="icon" href="/images/blackcat.svg" type="image/svg+xml">

    <title>Black Cat - {{ .Title }}</title>

    <link href="/css/dist/gophish.css" rel="stylesheet">
    <link href="/css/blackcat.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top bc-brandbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header bc-brand">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="bc-cat-logo" src="/images/blackcat.svg" alt="Black Cat logo" height="34" width="34" />
                <a class="navbar-brand" href="/">&nbsp;<strong>Black Cat</strong></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="login-button" href="/login">
                            <button type="button" class="btn btn-primary">Login</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bc-login-wrap">
        <div class="bc-login-card">
            <img class="bc-login-cat" src="/images/blackcat.svg" alt="Black Cat logo" />
            <div class="bc-login-title">Black Cat</div>
            <div class="bc-login-sub">Sign in to prowl the night.</div>
            <form class="form-signin" action="" method="POST">
                {{template "flashes" .Flashes}}
                <input type="text" name="username" class="form-control top-input" placeholder="Username" required autofocus>
                <input type="password" name="password" class="form-control bottom-input" placeholder="Password" autocomplete="off" required>
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Begin the Hunt</button>
            </form>
        </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js"></script>
</body>

</html>
{{ end }}
